/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

nav,
main,
aside,
footer {
    line-height: 1.4;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Default font size and family */

/* most similar NHS Logo font that is free Istok Web */

@import url('https://fonts.googleapis.com/css?family=Istok+Web&display=swap');

html {
    font-size: 20px;
    font-family: "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
}

/* headings */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Arial, sans-serif;
    font-weight: 600;
}

h1,
h3,
h5 {
    color: #005eb8;
}

h2,
h4,
h6 {
    color: #d65108;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.8rem;
}

h3 {
    font-size: 1.6rem;
}

h4 {
    font-size: 1.4rem;
}

h5 {
    font-size: 1.3rem;
}

h6 {
    font-size: 1.2rem;
}

p {
    padding: 0.5rem;
}

strong {
    font-weight: 600;
}

em {
    font-style: italic;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

abbr {
    color: #005eb8;
}

del {
    text-decoration: line-through;
    color: rgba(0, 94, 184, 0.7);
}

/* Lists */

ul {
    list-style-type: disc;
}

ol {
    list-style-type: decimal;
}

ol ol {
    list-style-type: lower-alpha;
}

ul,
ol {
    padding: 0.5rem 0 0.5rem 3rem;
}

hr {
    color: #005eb8;

}

/* selected text */

::selection,
.selection {
    background-color: #005eb8;
    color: rgba(251, 250, 251, 1);
}

/* blockquotes */

blockquote {
    font-family: times, serif;
    background-color: rgba(74, 82, 90, 0.4);
    margin: 1rem 5rem;
    border-radius: 0.5rem;
    padding: 0.5rem;
    quotes: initial;
}

blockquote::before {
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    vertical-align: -0.4em;
}

cite {
    font-style: italic;
    font-size: 0.9rem;
    float: right;
}

/* links */

a,
a:visited {
    color: #005eb8;
    text-decoration: underline;
    text-decoration-skip: ink;
    text-decoration-skip-ink: auto;

}

a:hover,
a:focus {
    color: #d65108;
}

/* Logo */

a.logo {
    font-family: Arial;
    background-color: #005eb8;
    color: rgba(251, 250, 251, 1);
    text-decoration: none;
    font-size: 2rem;
    font-weight: 800;
    font-style: italic;
    padding: .5rem;
}

@media (min-width: 399px) {
    a.logo {
        font-size: 2.4rem;
    }
}

@media (min-width: 599px) {
    a.logo {
        font-size: 3rem;
    }
}

a.logo:hover {
    background-color: rgba(251, 250, 251, 1);
    color: #005eb8;
}

.hidden {
    display: none;
}

/* Form Elements */

input {
    font-size: 1.5rem;
}

textarea {
    font-size: 1.5rem;
}

input[type=submit] {
    font-size: 1.5rem;
    padding: 5px 15px;
    background: #005eb8;
    color: rgba(251, 250, 251, 1);
    border: 0 none;
    cursor: pointer;
    border-radius: 5px;
}

.tags li {
    display: inline-block;
}

li.tag a {
    border-radius: 5px;
    border-color: #005eb8;
    border: solid;
    text-decoration: none;
    margin: .5em;
    padding: .3em;
    display: inline-block;
}

small.reading-time {
    font-size: 0.8rem;
    color: #005eb8;
}