/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
nav, main, aside, footer {
    line-height: 1.4;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Default font size and family */

html {
    font-size: 20px;
    font-family: "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
}

/* headings */

h1, h2, h3, h4, h5, h6 {
    font-family: Futura, sans-serif;
    font-weight: 600;
}

h1, h3, h5 {
    color: rgba(204, 41, 54, 1);
}

h2, h4, h6 {
    color: rgba(8, 65, 92, 1);
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.8rem;
}

h3 {
    font-size: 1.6rem;
}

h4 {
    font-size: 1.4rem;
}

h5 {
    font-size: 1.3rem;
}

h6 {
    font-size: 1.2rem;
}

p {
    padding: 0.5rem;
}

strong {
    font-weight: 600;
}

em {
    font-style: italic;
}

sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

abbr {
    color: rgba(204,41,54,1);
}

del {
    text-decoration: line-through;
    color: rgba(204,41,54,0.6);
}

/* Lists */

ul {
    list-style-type: disc;
}

ol {
    list-style-type: decimal;
}

ol ol {
    list-style-type: lower-alpha;
}

ul, ol {
    padding: 0.5rem 0 0.5rem 3rem;
}

/* preformatted text <pre> */

pre {
    white-space: pre-wrap; /* makes text wrap */
    font-family: "courier new";
    background-color: rgba(8, 65, 92, 1);
    color: rgba(251, 250, 251, 1);
    border-radius: 1rem;
    padding: 0.5rem;
    margin: 0 2rem 0.5rem 2rem;
}

pre.example-html::before {
    content: "HTML\A\A";
    background-color: rgba(251, 250, 251, 1);
    color: rgba(8, 65, 92, 1);
    border-radius: 0.1em;
}

pre.example-css::before {
    content: "CSS\A\A";
    background-color: rgba(251, 250, 251, 1);
    color: rgba(8, 65, 92, 1);
    border-radius: 0.1em;
}

pre.example-js::before {
    content: "JavaScript    \A\A";
    background-color: rgba(251, 250, 251, 1);
    color: rgba(8, 65, 92, 1);
    border-radius: 0.1em;
}

pre.example-matrix::before {
    content: "Matrix    \A\A";
    background-color: rgba(251, 250, 251, 1);
    color: rgba(8, 65, 92, 1);
    border-radius: 0.1em;
}

code {
    font-family: "courier new";
    background-color: rgba(8,65,92,1);
    color: rgba(251,250,251,1);
}

hr {
    color:rgba(107, 129, 140, 1);
}

/* selected text */

::selection, .selection {
    background-color: rgba(204, 41, 54, 1);
    color: rgba(251, 250, 251, 1);
 } 

 pre::selection {
     background-color: rgba(251,250,251,1);
     color: rgba(8,65,92,1);
 }

 /* blockquotes */

 blockquote {
    font-family: times, serif;
    background-color: #f9e9dc;
    margin: 1rem 5rem;
    border-radius: 0.5rem;
    padding: 0.5rem;
    quotes: initial;
}

blockquote::before {
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    vertical-align: -0.4em;
}

cite {
    font-style: italic;
    font-size: 0.9rem;
    float: right;
}

/* links */

a, a:visited {
    color:rgba(204, 41, 54, 1);
    background-color: rgba(251, 250, 251, 1);
    text-decoration: underline;
    text-decoration-skip: ink;
    text-decoration-skip-ink: auto;
    
}

a:hover, a:focus {
    background-color:rgba(204, 41, 54, 1);
    color: rgba(251, 250, 251, 1);
    text-decoration: underline;
    text-decoration-skip: ink;
    text-decoration-skip-ink: auto;
}

/* external links */

a[href^="http://"]:not([href*="letorey.co.uk"]):after, a[href^="https://"]:not([href*="letorey.co.uk"]):after {
    content: " ↗";
}

a[href^="mailto"]::after {
    content: " ✉︎";
}

a[href^="#"] {
    content: " #";
}

/* Logo */

a.logo {
    font-family: "Bookman Old Style";
    color: rgba(8, 65, 92, 1);
    text-decoration: none;
    font-size: 3rem;
}
